body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #0000007e;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("https://4kwallpapers.com/images/wallpapers/day-trading-8k-5k-3840x2160-13776.png"); /* Replace with your image path */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: #000000;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav {
    background-color: rgba(83, 83, 84, 0);
    
    color: rgba(251, 247, 247, 0.858);
    
    padding: 0.5em 0;
    text-align: center;
}

nav a {
    color: rgb(253, 251, 251);
    cursor: pointer; 
    text-decoration:none;
    margin: 0 1em;
}

main {
    padding: 20px;
    width: 80%;
    max-width: 900px;
    margin: 20px auto;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(30, 30, 30, 0.1);
    flex-grow: 1;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #0c0c0c;
}

#portfolio-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #ddd;
}

#portfolio-table th,
#portfolio-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#portfolio-table th {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.profit {
    color: green;
}

.loss {
    color: red;
}

.sell-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sell-button:hover {
    background-color: #bd2130;
}

.buy-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: #218838;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}